<html>
        <head>
                <h1>Welcome to Eight-Inlets Bouldering Gym!</h1>
        </head>

        <body>
                <form method="POST" action="/new_member">
                        <button type="submit">New Member Waiver Form</button>
                </form>

                <form method="POST" action="/returning_member">
                        <button type="submit">Returning Member Check-In</button>
                </form>

                <form method="GET" action="/staff_portal">
                        <button type="submit">Staff Portal</button>
                </form>
        </body>

</html>

