<html>
        <head>
                <h1>Hello New Members!</h1>
                <h2>Please enter your information:</h2>
        </head>

        <body>
            <form method="POST" action="/get_new_member_data">
                <input name="first_name" type="text" placeholder="First Name" required autofocus><br><br>
                      
                <input name="last_name" type="text" placeholder="Last Name" required autofocus><br><br>
 
                <input name="phone_number" type="text" placeholder="Phone Number" required autofocus><br><br>
    
                <input name="credit_number" type="text" placeholder="Credit Card Number" required autofocus><br><br>
          
                <button type="submit">Submit</button>
            </form>
        
        </body>

</html>

